html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* Header
------------------------- */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Source Sans Pro', serif;
    background-image: url("../assets/background-img-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    text-align: center;
}

.website-title {
    font-size: 20px;
    padding-right: 150px;
    padding-left: 100px;
    letter-spacing: 3px;
}

header label {
    font-size: 35px;
    margin-left: 40px;
}

.navigation-menu ul {
    display: none;
}

.navigation-menu ul li a{
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 800px;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    font-family: 'Oswald', serif;
}

.hero h2 {
    font-size: 24px;
    opacity: 0.7;}

/* Main content
------------------------- */
.main-content {
    color: black;
    font-family: 'Source Sans Pro', serif;
    text-align: left;
    background-color: #EEEEEE;
    padding: 20px 30px 70px;
    
}

.main-content h2 {
    font-family: 'Oswald', serif;
    font-size: 48px;
    color: #464547;
}

.main-content h3 {
    font-size: 24px;
    color: #666666;
}

.paragraph-container {
    font-size: 16px;
}

.paragraph {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.read-more {
    width: 115px;
    height: 40px;
    border-radius: 18px;
    border: none;
    background-color: #39C2D7;
    color: #ffffff;
    font-size: 14px;
}

/* Learn-more
------------------------ */
.learn-more {
    background-image: url("../assets/background-img-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.overlay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(140, 79, 42, 0.3);
    height: 800px;
}

.learn-more h2 {
    font-family: 'Oswald', serif;
    font-size: 48px;
}

.learn-more h3 {
    font-family: 'Source Sans Pro', serif;
    font-size: 24px;
    font-weight: lighter;
}

.play-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: #39C2D7;
    color: #ffffff;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Footer
------------------------ */
footer {
    background-color: #464547;
    padding: 20px 100px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    font-family: 'Source Sans Pro', serif; 
    text-align: center;
}

.footer-heading {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 3px;
}


p.email a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

p.email a:hover {
    background: rgb(83, 115, 166);
}

/* Responsive 
------------------------------------ */
@media screen and (min-width:768px){
    /* Header
    ----------------------------- */
    header label {
        display: none;
    }

    .navigation-menu {
        flex-grow: 1 ;
    }
    
    .navigation-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
    }
    
    .navigation-menu ul li {
        flex-basis: 150px;
    }

    /* Main-content
    ------------------------------ */
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    
    .paragraph-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        
    }
    
    .paragraph {
        flex-basis: 45%;
        padding: 40px;
    }

    /* Footer
    ---------------------------------- */
    footer {
        display: grid;
        grid-template-columns: 1.5fr 3fr 2fr;
        grid-template-rows: 1fr 1fr;
        text-align: left;
    }

    .footer-heading {
        grid-row: 1/3;
    }
    
    p.address {
        grid-row: 1;
        grid-column: 2;
    }
    
    p.email {
        grid-row: 2;
        grid-column: 2;
    }

    p.copyright {
        grid-row: 2;
        grid-column: 3;
    }
}
